<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="public/images/favicon.png" type="">
      <title>AGU CDLV Nigeria</title>
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="public/css/bootstrap.css" />
      <!-- font awesome style -->
      <link href="public/css/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="public/css/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="public/css/responsive.css" rel="stylesheet" />
   </head>
   <body class="sub_page">
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="index"><img width="250" src="public/images/logo.png" alt="#" /></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Register / Login <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="/">Register</a></li>
                              <li><a href="login">Login</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </header>
         <!-- end header section -->
      </div>
      <!-- inner page section -->
      <section class="inner_page_head" style="background-color: blue ;">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>REGISTER</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">
         
            <div class="row">
               <div class="col-lg-8 offset-lg-2">
                  <div class="full">
                     <form  method="POST" action="/">
                         <p style="font-family:'Courier New', Courier, monospace ; color:red"> {{msg}} </p>
                        <br>
                        <br>
                        <fieldset>
                           <input type="text" placeholder="Choose a username" name="username"/>
                           <input type="email" placeholder="Enter your email address" name="email"/>
                           <input type="password" placeholder="Enter your password" name="password"/>
                           <input type="submit" value="Submit" />
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end why section -->
      <!-- arrival section -->
      <!-- end arrival section -->
      <!-- footer section -->
    <footer class="footer_section">
         <div class="container">
            <div class="row">
               <div class="col-md-4 footer-col">
                  <div class="footer_contact">
                     <h4>
                        Reach at..
                     </h4>
                     <div class="contact_link_box">
                        
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                        Nigeria
                        </span>
                        
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                        Call +2348168940231
                        </span>
                        
                        <a href="stephenignatiusbiz@gmail.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                        agunigeria@gmail.com
                        </span>
                        
                     </div>
                  </div>
               </div>
               <div class="col-md-4 footer-col">
                  <div class="footer_detail">
                     <a href="index" class="footer-logo">
                     AGU NG
                     </a>
                     <p>
                     Connecting Nigerians to their roots.
                     </p>
                     <div class="footer_social">
                        <a href="https://web.facebook.com/stephen.ignatius.92/">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/REALSTEPHENIG?t=8OzlcGr6SDDfAhoSAae53Q&s=09">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/stephen-ignatius-a5422022b">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/p/CfY8K09DTAL/?igshid=YmMyMTA2M2Y=">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 footer-col">
                  <div class="map_container">
                     <div class="map">
                        <div id="googleMap"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-info">
               <div class="col-lg-7 mx-auto px-0">
                  <p>
                     &copy; <span id="displayYear"></span> All Rights Reserved By
                     <a href="https://html.design/">AGU CDLV Nigeria</a>
                  </p>
               </div>
            </div>
         </div>
      </footer>
      <!-- footer section -->
      <!-- jQery -->
      <script src="public/js/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="public/js/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="public/js/bootstrap.js"></script>
      <!-- custom js -->
      <script src="public/js/custom.js"></script>
   </body>
</html>